// Body
$body-bg: #f8fafc;

$cart-color : #e6ecf6;
$box :  0 4px 16px rgb(43 52 69 / 10%);
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary_color : #ff9900;
