// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.button-color{
    background: $cart-color;
}

.box{
    box-shadow: $box;
}
.v-list-item.on-hover{
    color: #d23f57 !important;
}
.v-icon > mdi mdi-car-outline:hover{
    color: #d23f57 !important;
}
